%h2= " Everyday Missionary Chart -  #{@account.family_name} "
= button_to   "New Missionary Action!" , "#", class: "new-action-btn btn " 
#action-chart

= button_to "New Family Member", "#", class: "new-fmember-btn btn"  
